﻿ @model IEnumerable<WebThu2.Models.Product>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Web Bán Hàng 2180605244</title>
    <!-- Sử dụng Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
    <header class="bg-warning text-white text-center py-4">
        <h1>Product</h1>
    </header>

    <!-- Menu điều hướng sử dụng Bootstrap Navbar -->
    <p>
        <a asp-action="Add" class="btn btn-primary">Create New</a>
    </p>
   <div class="container mt-4">
     <div class="row">
         <!-- Danh sách sản phẩm -->
         <div class="col-md-9" >
             <!-- Hiển thị sản phẩm bằng dạng dòng sản phẩm sử dụng Bootstrap Row và Col -->
             <div class="row row-cols-1 row-cols-md-3 g-4">
                 <!-- Sản phẩm  -->
                 @foreach (var product in Model)
                 {
                     <div id="product1" class="col">
                         <div class="card">
                                <img src="@product.ImageUrl" class="card-img-top" alt="..." style="width: 200px;">
                             <div class="card-body">
                                 <h5 class="card-title">@product.Name</h5>
                                 <p class="card-text">Mô tả: @product.Description</p>
                                 <p class="card-text">Giá: @product.Price</p>
                                    <p class="card-text">Sản Phẩm: @product.Category.Name</p>
                                 <tr>
                                     <td>
                                        <a asp-action="Update" asp-route-id="@product.Id" class="btn btn-success">Update</a> |
                                            <a asp-action="Display" asp-route-id="@product.Id" class="btn btn-warning">View</a> |
                                            <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                                     </td>
                                 </tr>
                             </div>
                         </div>
                     </div>
                    }
     
</body>

</html>



@* ======================================================================================================================== *@
